/*====================================================
                DEFAULT VALUES:

                Font Family                 : Roboto Condensed
                
                Greenish Blue               : #34c6d3       (Buttons, Icons, Links, Lines & Backgrounds)
                Steel Gray                  : #41464b       (Headings)
                Blue Bayoux                 : #64707b       (Paragraphs)
                White                       : #fff          (Text With Black Backgrounds)
                Black                       : #000 

======================================================*/


/* General CSS */

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 18px;
    font-weight: 300;
}

h3 {
    color: #41464b;
}


/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    width: 100%;
    background-image: url("../img/dsconnect/background.jpg");
/*    background-color: #B2B7B8;*/
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    
}

#home-content-box-inner {
    display: table-cell;
    
 vertical-align: middle;
     text-align: center; 
}

/* the font is responsive, adjust the responsive file in the dsconnect_responsive.css */
#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}


#home-heading h4 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}


/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

.btn-black {
    border-color: #46444A;
    color: #46444A;
}

.btn-black:hover,
.btn-black:focus {
    background-color: #46444A;
    color: #fff;
}

/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    
}


/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}



/*====================================================
                        ABOUT
======================================================*/

#about-desc p{
    text-align: middle;
}



/*====================================================
                        MISSION
======================================================*/

#mission-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/dsconnect/jads.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#mission-content-box {
    float: left;
    height: 700px;
}

#mission-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#mission-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#mission .content-title h3 {
    text-align: middle;
}


#mission-desc p {
    margin-bottom: 30px;
}


/*====================================================
                        CONNECT
======================================================*/

#connect-desc p{
    text-align: middle;
}






/*====================================================
                       WORK
======================================================*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.img-wrapper img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: zoom-in;
}






/*====================================================
                       CONTACT
======================================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}

address strong {
    font-size: 16px;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

/*====================================================
                       LINK
======================================================*/

.links {
    padding: 40px ;
}




/*====================================================
                       FOOTER
======================================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
	font-size:16px;
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}


/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.vesco-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.vesco-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
/*    color: #34c6d3;*/
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

/*When the page is in this section, the cbutton color on the navigation bar changes.*/
/*
.vesco-top-nav ul.navbar-nav > li.active > a {
    color: #34c6d3;
}
*/


